<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\Model\Menu\Item">
        <plugin name="md_orderbysku_menu_item_newtab" type="Magedelight\Orderbysku\Plugin\Magento\Backend\Model\Menu\Item" />
    </type>
</config>