<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="turfcare_econnectsxe" frontName="turfcare_econnectsxe">
            <module name="Turfcare_EconnectSXE"/>
        </route>
    </router>
</config>